In [3]:
import pandas as pd
import numpy as np

In [66]:
a = np.array([[[1, 2], [3, 4]],[[1, 2], [3, 4]]])

In [76]:
from typing import (
    IO,
    TYPE_CHECKING,
    AnyStr,
    Dict,
    Iterable,
    List,
    Optional,
    TypeVar,
    Union,
)
Axes = Iterable
Dtype = Union[str, np.dtype, "ExtensionDtype"]

In [81]:
class DniDataFrame(pd.DataFrame):

    def __init__(self,
        data=None,
        index: Optional[Axes] = None,
        columns: Optional[Axes] = None,
        dim: Optional[Axes] = None,
        dtype: Optional[Dtype] = None,
        copy: bool = False,
        ):
        
        if isinstance(data, np.ndarray) and dim is not None:
            print(data.ndim)
#         super().__init__(data,index,columns,dtype,copy)

In [84]:
dataset = DniDataFrame(a,dim = [0])

3

In [85]:
import itertools

In [87]:
shape = [4,5,2,6]
for idx in itertools.product(*[range(s) for s in shape]):
    print(idx)

(0, 0, 0, 0)
(0, 0, 0, 1)
(0, 0, 0, 2)
(0, 0, 0, 3)
(0, 0, 0, 4)
(0, 0, 0, 5)
(0, 0, 1, 0)
(0, 0, 1, 1)
(0, 0, 1, 2)
(0, 0, 1, 3)
(0, 0, 1, 4)
(0, 0, 1, 5)
(0, 1, 0, 0)
(0, 1, 0, 1)
(0, 1, 0, 2)
(0, 1, 0, 3)
(0, 1, 0, 4)
(0, 1, 0, 5)
(0, 1, 1, 0)
(0, 1, 1, 1)
(0, 1, 1, 2)
(0, 1, 1, 3)
(0, 1, 1, 4)
(0, 1, 1, 5)
(0, 2, 0, 0)
(0, 2, 0, 1)
(0, 2, 0, 2)
(0, 2, 0, 3)
(0, 2, 0, 4)
(0, 2, 0, 5)
(0, 2, 1, 0)
(0, 2, 1, 1)
(0, 2, 1, 2)
(0, 2, 1, 3)
(0, 2, 1, 4)
(0, 2, 1, 5)
(0, 3, 0, 0)
(0, 3, 0, 1)
(0, 3, 0, 2)
(0, 3, 0, 3)
(0, 3, 0, 4)
(0, 3, 0, 5)
(0, 3, 1, 0)
(0, 3, 1, 1)
(0, 3, 1, 2)
(0, 3, 1, 3)
(0, 3, 1, 4)
(0, 3, 1, 5)
(0, 4, 0, 0)
(0, 4, 0, 1)
(0, 4, 0, 2)
(0, 4, 0, 3)
(0, 4, 0, 4)
(0, 4, 0, 5)
(0, 4, 1, 0)
(0, 4, 1, 1)
(0, 4, 1, 2)
(0, 4, 1, 3)
(0, 4, 1, 4)
(0, 4, 1, 5)
(1, 0, 0, 0)
(1, 0, 0, 1)
(1, 0, 0, 2)
(1, 0, 0, 3)
(1, 0, 0, 4)
(1, 0, 0, 5)
(1, 0, 1, 0)
(1, 0, 1, 1)
(1, 0, 1, 2)
(1, 0, 1, 3)
(1, 0, 1, 4)
(1, 0, 1, 5)
(1, 1, 0, 0)
(1, 1, 0, 1)
(1, 1, 0, 2)
(1, 1, 0, 3)
(1, 1, 0, 4)
(1, 1, 0, 5)
(1, 1, 1, 0)
(1, 1, 1, 1)
(1, 1, 1, 2)
(1, 1, 1, 3)
(1, 1, 1, 4)
(1, 1, 1, 5)
(1, 2, 0, 0)
(1, 2, 0, 1)
(1, 2, 0, 2)
(1, 2, 0, 3)
(1, 2, 0, 4)
(1, 2, 0, 5)
(1, 2, 1, 0)
(1, 2, 1, 1)
(1, 2, 1, 2)
(1, 2, 1, 3)
(1, 2, 1, 4)
(1, 2, 1, 5)
(1, 3, 0, 0)
(1, 3, 0, 1)
(1, 3, 0, 2)
(1, 3, 0, 3)
(1, 3, 0, 4)
(1, 3, 0, 5)
(1, 3, 1, 0)
(1, 3, 1, 1)
(1, 3, 1, 2)
(1, 3, 1, 3)
(1, 3, 1, 4)
(1, 3, 1, 5)
(1, 4, 0, 0)
(1, 4, 0, 1)
(1, 4, 0, 2)
(1, 4, 0, 3)
(1, 4, 0, 4)
(1, 4, 0, 5)
(1, 4, 1, 0)
(1, 4, 1, 1)
(1, 4, 1, 2)
(1, 4, 1, 3)
(1, 4, 1, 4)
(1, 4, 1, 5)
(2, 0, 0, 0)
(2, 0, 0, 1)
(2, 0, 0, 2)
(2, 0, 0, 3)
(2, 0, 0, 4)
(2, 0, 0, 5)
(2, 0, 1, 0)
(2, 0, 1, 1)
(2, 0, 1, 2)
(2, 0, 1, 3)
(2, 0, 1, 4)
(2, 0, 1, 5)
(2, 1, 0, 0)
(2, 1, 0, 1)
(2, 1, 0, 2)
(2, 1, 0, 3)
(2, 1, 0, 4)
(2, 1, 0, 5)
(2, 1, 1, 0)
(2, 1, 1, 1)
(2, 1, 1, 2)
(2, 1, 1, 3)
(2, 1, 1, 4)
(2, 1, 1, 5)
(2, 2, 0, 0)
(2, 2, 0, 1)
(2, 2, 0, 2)
(2, 2, 0, 3)
(2, 2, 0, 4)
(2, 2, 0, 5)
(2, 2, 1, 0)
(2, 2, 1, 1)
(2, 2, 1, 2)
(2, 2, 1, 3)
(2, 2, 1, 4)
(2, 2, 1, 5)
(2, 3, 0, 0)
(2, 3, 0, 1)
(2, 3, 0, 2)
(2, 3, 0, 3)
(2, 3, 0, 4)
(2, 3, 0, 5)
(2, 3, 1, 0)
(2, 3, 1, 1)
(2, 3, 1, 2)
(2, 3, 1, 3)
(2, 3, 1, 4)
(2, 3, 1, 5)
(2, 4, 0, 0)
(2, 4, 0, 1)
(2, 4, 0, 2)
(2, 4, 0, 3)
(2, 4, 0, 4)
(2, 4, 0, 5)
(2, 4, 1, 0)
(2, 4, 1, 1)
(2, 4, 1, 2)
(2, 4, 1, 3)
(2, 4, 1, 4)
(2, 4, 1, 5)
(3, 0, 0, 0)
(3, 0, 0, 1)
(3, 0, 0, 2)
(3, 0, 0, 3)
(3, 0, 0, 4)
(3, 0, 0, 5)
(3, 0, 1, 0)
(3, 0, 1, 1)
(3, 0, 1, 2)
(3, 0, 1, 3)
(3, 0, 1, 4)
(3, 0, 1, 5)
(3, 1, 0, 0)
(3, 1, 0, 1)
(3, 1, 0, 2)
(3, 1, 0, 3)
(3, 1, 0, 4)
(3, 1, 0, 5)
(3, 1, 1, 0)
(3, 1, 1, 1)
(3, 1, 1, 2)
(3, 1, 1, 3)
(3, 1, 1, 4)
(3, 1, 1, 5)
(3, 2, 0, 0)
(3, 2, 0, 1)
(3, 2, 0, 2)
(3, 2, 0, 3)
(3, 2, 0, 4)
(3, 2, 0, 5)
(3, 2, 1, 0)
(3, 2, 1, 1)
(3, 2, 1, 2)
(3, 2, 1, 3)
(3, 2, 1, 4)
(3, 2, 1, 5)
(3, 3, 0, 0)
(3, 3, 0, 1)
(3, 3, 0, 2)
(3, 3, 0, 3)
(3, 3, 0, 4)
(3, 3, 0, 5)
(3, 3, 1, 0)
(3, 3, 1, 1)
(3, 3, 1, 2)
(3, 3, 1, 3)
(3, 3, 1, 4)
(3, 3, 1, 5)
(3, 4, 0, 0)
(3, 4, 0, 1)
(3, 4, 0, 2)
(3, 4, 0, 3)
(3, 4, 0, 4)
(3, 4, 0, 5)
(3, 4, 1, 0)
(3, 4, 1, 1)
(3, 4, 1, 2)
(3, 4, 1, 3)
(3, 4, 1, 4)
(3, 4, 1, 5)

In [42]:
dataset = pd.DataFrame()

In [73]:
a.reshape(1,4)

ValueError: cannot reshape array of size 8 into shape (1,4)

In [8]:
dataset

   0  1
0  1  2
1  3  4